In [1]:
import pandas
import configparser
import psycopg2

In [34]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [35]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [64]:
sql = """ select * from student
        """

In [65]:
df = pandas.read_sql_query(sql, conn)
df[:10]

/tmp/ipykernel_10977/647199877.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

      s_email s_name major
0  s1@jmu.edu     s1    IA
1  s2@jmu.edu     s2    IA
2  s3@jmu.edu     s3  ISAT
3  s4@jmu.edu     s4  ISAT
4  s5@jmu.edu     s5    IA

In [49]:
cur = conn.cursor()

In [50]:
sql = """ insert into student(s_email,s_name,major)
            values( '{}','{}','{}' )
            """.format('s5@jmu.edu','s5','IA')

print(sql)

 insert into student(s_email,s_name,major)
            values( 's5@jmu.edu','s5','IA' )

In [60]:
cur.execute(sql)

UniqueViolation: duplicate key value violates unique constraint "student_pkey"
DETAIL:  Key (s_email)=(s5@jmu.edu) already exists.

In [66]:
conn.rollback()

In [69]:
cur.close()